.gameSettingsContainer {
  color: white;
  position: relative;
}

.settingsMainBtn {
  position: fixed;
  bottom: 1.5vh;
  right: 1.5vh;
  max-height: 12vh;
  cursor: pointer;
}

.settingsMainBtn {
  fill: rgb(94, 4, 4);

  animation: rotate 5s ease-in-out infinite;
}

@keyframes rotate {
  0%,
  100% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(10deg);
  }
  75% {
    transform: rotate(-10deg);
  }
}

.settingsOverlay {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  width: 100vw;
  height: 100vh;
  background-color: #fffdf1;

  /* border: 2px solid blue; */

  animation: overlay 1.5s cubic-bezier(0.34, 1.56, 0.64, 1);
  transform-origin: bottom right;
}

@keyframes overlay {
  0% {
    transform: translateY(-120vh) rotate(-15deg) scale(0.3);
    opacity: 0;
  }
  50% {
    transform: translateY(5vh) rotate(5deg) scale(1.02);
  }
  70% {
    transform: translateY(-2vh) rotate(-2deg) scale(0.99);
  }
  85% {
    transform: translateY(1vh) rotate(1deg) scale(1.01);
  }
  100% {
    transform: translateY(0) rotate(0deg) scale(1);
    opacity: 1;
  }
}

.overlayCloseBtn {
  background-color: transparent;
  border: none;
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}

.overlayCloseBtnBg {
  width: 8vh;
  height: 8vh;
}

.settingsBtnsContainer {
  flex-basis: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  gap: 0;

  width: 40vw;
  height: 80vh;
  margin-right: 40px;
  padding: 30px;
  /* border: 2px solid red; */
}

.settingsBtnsContainer .settingBtn {
  width: 30vh;
  height: 20vh;

  margin-block: -20px;
  cursor: pointer;
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  /* border: 1px solid blue; */
}

.settingsThemeBtn .themeText,
.settingsTypeBtn .typeText,
.settingsPieceBtn .pieceText,
.settingsAiOrFriendBtn .AiOrFriendText {
  fill: #4e4e4e;
  font-family: "Walter Turncoat", "Luckiest Guy", "Fredericka the Great",
    cursive, serif !important;

  user-select: none;
}

.settingBtn.hovered {
  transform: translateX(10px) scale(1.02);
  filter: brightness(1.08) drop-shadow(0 4px 12px rgba(100, 170, 210, 0.45));
}

.settingBtn:active {
  transform: translateX(10px) scale(0.98);
  /* background-color: gold; */
}

.settingsContent {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;

  /* border: 4px solid yellow; */
}

.iconFrame {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;

  color: #4b4949;

  font-size: 1.4rem;
  font-family: "Walter Turncoat", "Luckiest Guy", "Fredericka the Great",
    cursive, serif;

  border: 4px solid black;
  border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
  padding: 20px;
  overflow: visible;
}

.iconFrame.square {
  width: 30vh;
  height: 30vh;
}

.iconFrame .ClassicGameboardIcon span,
.iconFrame .GoGameboardIcon span {
  flex-basis: 10%;
  user-select: none;
}

.iconFrame.rectangle {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-items: center;
  width: 50vh;
  height: 15vh;
  font-family: "Luckiest Guy", "Walter Turncoat", "Fredericka the Great",
    cursive, serif;
}
.iconFrame.rectangle img {
  /*   width: 4vh;
  height: auto; */
  object-fit: cover;
}

.iconFrame.rectangle.classic {
  position: relative;
}

.classic img.star {
  position: absolute;
  top: 10%;
  left: 10%;
  width: 20%;
  height: auto;
}
.classic img.dog {
  position: absolute;
  width: 18%;
  left: 70%;
}

.iconFrame.rectangle.christmas {
  position: relative;
  padding: 0;
}

.christmas .christmasBall {
  position: absolute;
  z-index: 100;
  top: -8%;
  left: 10%;
  width: 20%;
  height: auto;
  object-fit: contain;
}

.christmas .gingerbreadBig {
  position: absolute;
  top: 20%;
  left: 70%;
  width: 15%;
  height: auto;
}

.christmas div {
  display: flex;
  flex-direction: column;
  position: relative;
}

.christmas div img {
  position: absolute;
  top: 70%;
  left: 60%;
  width: 30%;
  z-index: 100;
  height: auto;
}

.iconFrame.rectangle.halloween {
  position: relative;
  text-align: center;
  overflow: hidden;
}
.halloween img:nth-of-type(1) {
  width: 15%;
  position: absolute;
  top: 0;
  left: 14%;
  z-index: -10;
}
.halloween img:nth-of-type(2) {
  width: 30%;
  position: absolute;
  top: 0;
  right: -1%;
}
