/* ======================Imports====================== */
@import url("./settingsPanelLauncher.css");
@import url("./closeSettingsPanel.css");
@import url("./settingsTabsRenderer.css");
@import url("./settingsContentsRenderer.css");
@import url("./typeContentsRenderer.css");
@import url("./themeContentsRenderer.css");

.gameSettingsContainer {
  position: relative;
}

.pieceContainer {
  display: grid;
  grid-template-columns: repeat(3, 9rem);
  grid-template-rows: repeat(3, 9rem);

  gap: 1rem;
}

.gamePiece {
  width: 95%;
  cursor: pointer;
}

/* =========================================================*/
/* ======================MEDIA QUERIES======================*/
/* =========================================================*/
