.SettingsPanelLauncher {
  position: fixed;
  bottom: 1.5vh;
  right: 1.5vh;
  height: 12vh;
  max-height: 70px;
  cursor: pointer;

  fill: rgb(94, 4, 4);
  animation: rotate 5s ease-in-out infinite;
}

.settingsOverlay {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  width: 100vw;
  height: 100vh;
  background-color: #fffdf1;
  overflow-y: auto;

  animation: overlay 1.5s cubic-bezier(0.34, 1.56, 0.64, 1);
  transform-origin: bottom right;
}

@keyframes overlay {
  0% {
    transform: translateY(-120vh) rotate(-15deg) scale(0.3);
    opacity: 0;
  }
  50% {
    transform: translateY(5vh) rotate(5deg) scale(1.02);
  }
  70% {
    transform: translateY(-2vh) rotate(-2deg) scale(0.99);
  }
  85% {
    transform: translateY(1vh) rotate(1deg) scale(1.01);
  }
  100% {
    transform: translateY(0) rotate(0deg) scale(1);
    opacity: 1;
  }
}

@keyframes rotate {
  0%,
  100% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(10deg);
  }
  75% {
    transform: rotate(-10deg);
  }
}

@media only screen and (min-width: 992px) {
  .SettingsPanelLauncher {
    max-height: 12vh;
  }

  .settingsOverlay {
    flex-direction: row;
    overflow-y: visible;
  }
}
