.classic {
  position: relative;
}

.classic img.star {
  position: absolute;
  top: 10%;
  left: 10%;
  width: 20%;
  height: auto;
}
.classic img.dog {
  position: absolute;
  width: 18%;
  left: 70%;
}

.christmas {
  position: relative;
  padding: 0;
}

.christmas .christmasBall {
  position: absolute;
  z-index: 100;
  top: -8%;
  left: 10%;
  width: 20%;
  height: auto;
  object-fit: contain;
}

.christmas .gingerbreadBig {
  position: absolute;
  top: 20%;
  left: 70%;
  width: 15%;
  height: auto;
}

.christmas div {
  margin: 0px auto;
  position: relative;
}

.christmas div img {
  position: absolute;
  top: 70%;
  left: 60%;
  width: 30%;
  z-index: 100;
  height: auto;
}

.halloween {
  position: relative;
  text-align: center;
  overflow: hidden;
}
.halloween img:nth-of-type(1) {
  width: 15%;
  position: absolute;
  top: 0;
  left: 14%;
  z-index: -10;
}
.halloween img:nth-of-type(2) {
  width: 30%;
  position: absolute;
  top: 0;
  right: -1%;
}
