.typeContents {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;

  width: 170px;
  height: 170px;
  font-family: "Walter Turncoat", "Luckiest Guy", "Fredericka the Great";
}

.typeContents img {
  flex-basis: 70%;
  object-fit: contain;
}

.classic_gameboard span,
.go_gameboard span {
  flex-basis: 10%;
  user-select: none;
}

@media only screen and (min-width: 992px) {
  .frame.typeContents {
    padding: 30px;
  }
}
