/* ======================ANIMATIONS START======================*/

.headerTitle {
  background: linear-gradient(
    90deg,
    #2563eb 0%,
    #d98c5f 25%,
    #fffdf7 50%,
    #ffc107 75%,
    #4b4949 100%
  );
  background-size: 200% 100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  user-select: none;
  animation: gradient-flow 3s linear infinite;
}

@keyframes gradient-flow {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 200% 50%;
  }
}

/* ======================ANIMATIONS END======================*/

header {
  display: grid;
  grid-template-columns: minmax(auto, auto) 1fr minmax(auto, auto);
  place-items: center;

  width: 100%;
  max-height: auto;
  position: relative;
}

header h1 {
  grid-row: 1 / 1;
  grid-column: 2 / 2;
  text-align: center;
  white-space: nowrap;
  font-family: "Fredericka the Great", "Walter Turncoat", cursive, serif;
  font-size: clamp(2rem, 6vh, 6rem);
  color: #4b4949;
  letter-spacing: -0.025em;
  padding: 1vh 2vw;
  z-index: 1;
}

header img {
  grid-row: 1 / 1;
  grid-column: 2 / 2;
  margin-inline: auto;
  max-width: 100%;
  max-height: clamp(2rem, 8vh, 6rem);
  z-index: -1;
  opacity: 0.6;
}
