header {
  flex-shrink: 0;
  display: grid;
  grid-template-columns: minmax(auto, auto) 1fr minmax(auto, auto);
  place-items: center;

  width: 100%;
  max-height: 20vh;
  position: relative;

  margin-bottom: 25px;
  margin-top: 12px;
}

header h1 {
  grid-row: 1 / 1;
  grid-column: 2 / 2;
  text-align: center;
  white-space: nowrap;
  font-family: "Fredericka the Great", "Walter Turncoat", cursive, serif;
  font-size: clamp(2rem, 8vh, 6rem);
  color: #4b4949;
  letter-spacing: -0.025em;
  padding: 1vh 2vw;
  z-index: 1;
}

header img {
  grid-row: 1 / 1;
  grid-column: 2 / 2;
  margin-inline: auto;
  max-width: 100%;
  max-height: clamp(2rem, 8vh, 6rem);
  z-index: -1;
  opacity: 0.6;
}
