/* --------------------SCREENS FROM 0px TO 575px-------------------- */

.gamebaordContainerClassicTheme {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 0 15px;
  margin-top: 20px;
}

.gamebaordContainerClassicTheme .gameboardClassicTheme {
  width: 95%;
  height: auto;
  max-height: 100%;
  object-fit: contain;
}

#Mouse_Right_Eyelid,
#Mouse_Left_Eyelid {
  transform: translateY(-5%);
  transition: transform 0.15s cubic-bezier(0.45, 0.05, 0.55, 0.95);

  fill: black;
}

#Mouse_Left_Pupil,
#Mouse_Right_Pupil {
  transition: transform 0.6s ease-out;
  fill: black;
  /* stroke: black; */
  stroke-width: 10px;
}

#Mouse_Right_Eyelid.blink,
#Mouse_Left_Eyelid.blink {
  transform: translateY(-0.5%);
}

#Mouse_Speech_Bubble {
  fill: transparent;
}

#Mouse_Text_Area {
  stroke: transparent;
}

#Mouse_Text_Wrapper,
#Cat_Text_Wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;

  padding: 15%;
  text-align: center;
  overflow: hidden;
}

#Cat_Text_Wrapper {
  font-family: "Sniglet", cursive, serif;
  transform: rotate(270deg);
  padding-top: 30%;
  /* border: 2px solid black; */
}

#Mouse_Text {
  word-wrap: break-word;
  line-height: 1.1;
  font-size: 12px;

  color: black;
  font-family: "Walter Turncoat", cursive, serif;
  font-weight: 700;
}

#Cat_Text_Area {
  fill: transparent;
}

#Cat_Body {
  fill: #4e4e4eca;
}

#Mouse_Skin,
#Mouse_Tail_Dots {
  fill: #4e4e4ef9;
}

#Mouse_Ears {
  fill: #fa969a;
  stroke: #fa969a;
}
#Mouse_Nose {
  fill: #836745;
}

#Cheese .cls-12 {
  fill: #ffe300;
}

#Cheese_Holes path {
  fill: #320112;
}

#Play_BTN {
  fill: #ffc107;
  cursor: pointer;
}

#Play_BTN .cls-12 {
  fill: #4b4949;
}

@media only screen and (min-width: 992px) {
  .gamebaordContainerClassicTheme .gameboardClassicTheme {
    width: min(60vw, 60vh);
  }
}
