.gamebaordContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-block: 70px;
  border: 2px solid black;
}

.gameboard {
  display: block;
  width: 80vw;
  height: auto;
}
