@import url(./components/Header/Header.css);
@import url(./components/Gameboard/Gameboard.css);

:root {
  /* ===== Classic Theme ===== */
  --classicTheme-bg: #fffdf7;
  --classicTheme-text: #4b4949;
  --classicTheme-accent: #ffc107;
  --classicTheme-accent-hover: #d98c5f;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--classicTheme-bg);
  min-height: max(884px, 100dvh);
}
