/* =======================FONTS=========================== *

@import url("https://fonts.googleapis.com/css2?family=Walter+Turncoat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Walter+Turncoat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sniglet:wght@800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap");


/* ======================STYLES========================== */

/* =======CLASSIC THEME======= */
@import url("./components/GameSettings/gameSettingsClassicTheme.css");
@import url("./components/Header/HeaderClassicTheme.css");
@import url("./components/Gameboard/gameBoardClassicTheme.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--classicTheme-bg);
  height: 100vh;
  display: flex;
  flex-direction: column;
  /* gap: 1rem; */
  overflow: hidden;
  padding: 1vh 2vw;
}
