/* ======================= FONTS =========================== */
@import url("https://fonts.googleapis.com/css2?family=Walter+Turncoat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Walter+Turncoat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sniglet:wght@800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap");

/* ======================STYLES========================== */

/* =======CLASSIC THEME======= */
@import url("./components/GameSettings/gameSettingsClassicTheme.css");
@import url("./components/Header/HeaderClassicTheme.css");
@import url("./components/Gameboard/gameBoardClassicTheme.css");

:root {
  --classicTheme-bg: #fffdf7;
  --classicTheme-text: #4b4949;
  --classicTheme-accent: #ffc107;
  --classicTheme-accent-hover: #d98c5f;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: var(--classicTheme-bg);
  display: flex;
  flex-direction: column;
  padding: 2vh 4vw;

  overflow-x: hidden;
  overflow-y: auto;
  min-height: 100vh;
}

@media only screen and (min-width: 992px) {
  body {
    overflow: hidden;
  }
}
